body{
	background-color:#4e4e4e;
	padding:100px 0;}
.anserBox {
	width:90%;
	margin:0 auto;
    background: white;
    font-family: 'Microsoft Yahei';
    border-radius: 5px;
	color: #71777C;
	padding:20px 0 120px;
	font-size:16px;
	float:none;
}
.anserBox .anserTitle {
	padding:20px 0;} 
.anserBox .anserTitle .title{
	font-weight:bold;
	font-size:1.6em;
	text-align:center;}
.anserBox .anserTitle .title span{
	display:inline-block;
	padding:0 30px;
	}
.anserBox .anserTitle .timeGo{
	text-align:center;
	margin-top:10px;

	}
.questionBox{
	padding:0 30px;
	border-bottom:solid 1px #f4f4f4}
.questionBox .question .queTitle{
	background: #F5F5F5;
    border: 1px solid #DADADA;
	border-radius: 5px;
	padding: 5px 0 10px 10px;}
.questionBox .question .queTitleError{
	background: #FFDDDC;
    border: 1px solid #FFACA9;

	}
.questionBox .question .queTitleRight{
	background:#DFF0D8;
	border:1px solid #D6E9C6;

}
.questionBox .question .queTitle .queNumber{
	overflow:hidden;
	padding-left:10px;
	line-height:30px;}
.questionBox .question .queTitle .queNumber span{
	padding-left:20px;
	float:left;}
.questionBox .question .queTitle .queNumber span:first-child{
	padding-left:0;}
.questionBox .question .queTitle .queNumber a{
	vertical-align:baseline;
	padding:0 3px;
	float:left;
	border-bottom:1px solid #F5F5F5;}
.questionBox .question .queTitle .queNumber a:hover{
	color:blue;
	border-bottom:1px solid blue;
	}
.changJbtn{
	float:left;
	margin-left:20px;}
.questionBox .question .queTitle .queNumber .changJbtn button{
	float:left;
	color: #fff;
    background: rgb(249, 183, 40);
	border:none;
	padding:0;
	width:120px;
	height:30px;
	border-radius:3px;
	cursor: pointer;}
.changJbtn .taskproBox{
	float:left;
	font-size:14px;
	line-height:30px;
	height:30px;
	width:120px;
	background-color:#999999;
	color:#FFF;
	text-align:center;
	border-radius:3px;
	position:relative}
.changJbtn .taskpro{
	width:50%;
	height:30px;
	border-radius:3px;
	background-color:rgb(249, 183, 40)}
.changJbtn .textB {
	width:120px;
	height:30px;
	position:absolute;
	left:0;
	top:0;}
.questionBox .question .queTitle .queTxt p{
	margin:0;
	line-height:30px;
	color:black;}
.questionBox .question .queTitle .queTxt a{

    padding:0 3px;
    background-color: #eeeeee;
    margin:0 5px;
    color: #2B95DA;
}


.questionBox .question .queTitle .queTxt a:hover{
    text-decoration: underline;
    background-color: #e2e2e2;
    color: blue;
    
}
.questionBox .question .queTitle .queTxt.markdown-body img{
	max-width: 400px;
} 
.questionBox .question .anser{
	padding: 15px 0 30px 40px;
	overflow: hidden;} 
.questionBox .question .anser ul li {
	padding-bottom:10px;}
.questionBox .question .anser ul li:last-child{
	padding-bottom:0;}
.questionBox .question .anser ul li input{
	margin-right:10px;}
.rightGo{
	background-color: rgb(116, 199, 9);
	padding: 0 10px;
	margin-left: 20px;
	margin-right:40px;
	color: #FFF;
	font-size: 14px;
	}
.questionBox .question .anser input[type="text"],.questionBox .question .anser textarea{
	border: 0;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    border: 1px solid #DADADA;
	background-color:#f8f8f8;
    padding-left: 5px;
}
.questionBox .question .anser .nodoNews{
	border: 1px solid #DADADA;
	background-color:#f8f8f8;
    padding-left: 5px;
    min-width: 290px;
    height: 30px;
    line-height: 30px;
    float: left;
    border-radius: 5px;
    padding-right:10px;
}
.questionBox .question .anser textarea{
	width:500px;
	height:160px;}
.btn{
	text-align:center;
	padding-top:80px;}
.btn a{
	display:inline-block;
	color:#FFF;
	border-radius:4px;
	padding:8px 20px;
	font-size:18px;
	margin: 0 20px;}
.btn a.btnYellow{
	background:#FF8401;

	}
.btn a.btnBlue{
	background:#428BCA;

	}
.btn a.btnYellow:hover {
    background: #FF8401;
    opacity: 0.7;}
.btn a.btnBlue:hover {
    background: #2B95DA;
    opacity: 0.8;}
.scoreBox{
	color:red;
	margin:0 auto;
	margin-top:80px;
	width: 30%;
    height: 65px;
    background: #FCF8E3;
    text-align: center;
    padding: 20px;
    font-size: 14px;
    border: 1px solid #FAEBCC;
    border-radius: 5px;
}
.scoreBox p{
	padding-top:20px;}
.scoreBox h2{
	padding-top:10px;}
.outHide{
	display:none !important;}
.block{
	display:block !important;}
.in-block{
	display:inline-block !important;
	
	}
/*灰色状态/不能操作的状态*/
.noCanBg {
	background-color:#d5d5d5 !important;
	cursor:default !important;
	opacity:1 !important;}	